BODY, TH, TD, TR, OL, UL, LI  { 
  font-family: verdana, arial, helvetica, sans-serif; 
  font-size: x-small; color: #FF923D; background-color : #000000;  
}

a { color: orange } 
.fomenu { color: #cccccc; }
a:link, a:visited, a:active { text-decoration: none; }
.fomenu:hover, a:hover {text-decoration: underline;}

.gomb {
  background-color: #333333;
  border: #888888 1px solid;
  color: orange;
  cursor: hand;
  padding-left: 2pt;
  padding-right: 2pt;
}
.gomb:link, .gomb:visited, .gomb:active { color : #cccccc; }
.gomb:hover { color : #ffffff; }

input, textarea, select, input[type=checkbox], .inp {
  background-color: #333333;
  border: #888888 1px solid;
  color: orange;
  margin: 1pt;
}

td.center
{
    text-align: center;
}

td.right
{
    text-align: right;
}

td.left
{
    text-align: left;
}

td.menu
{
    text-align: center;
    width: 20%;
}

dummy	{ border: #888888 1px solid; margin: 3pt; padding: 0pt; border-collapse: collapse; }